.cms-list {
    margin-bottom: 0;
    overflow: hidden;

    &.borders-inside,
    &.borders-all {
        .cms-list-item {
            border-bottom: 1px solid $sw-border-color;

            &:last-child {
                border-bottom: 0;
            }

            .cms-list-item {
                border-bottom: 0;
            }

            .cms-list-item-collapse-container {
                .show {
                    border-top: 1px solid $sw-border-color;
                }
            }
        }
    }

    &.borders-outside,
    &.borders-all {
        .cms-element-list > &{
            border: 1px solid $sw-border-color;
        }
    }
}

.cms-list-item {
    font-weight: 500;
    font-size: $font-size-lg;

    .cms-list-item {
        font-weight: $font-weight-normal;
        font-size: $font-size-base;
    }
}

.cms-list-item-content {
    $spaceLeft: calc(var(--level) * var(--paddingLeft));
    $spacerRight: calc(var(--level) * var(--paddingRight));

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--paddingTop) $spacerRight var(--paddingBottom) $spaceLeft;
}

.cms-list-collapse-button {
    margin-left: $spacer;
    padding: 2px;
    border: 1px solid $sw-border-color;
    border-radius: 4px;
    color: inherit;
    line-height: 1;

    &.collapsed {
        .icon {
            &-plus {
                display: inline-flex;
            }
        
            &-minus {
                display: none;
            }
        }
    }

    .icon {
        width: 1rem;
        height: 1rem;
        color: inherit;

        svg {
            top: 2px;
        }

        &-plus {
            display: none;
        }
    
        &-minus {
            display: inline-flex;
        }
    }
}
