@import '~scss/variables';

.sw-cms-block-preview-tabs {
    color: $color-darkgray-200;
    padding: 10px;

    &__tabs {
        display: flex;
        margin: 0 0 10px;
    }

    &__tab-link {
        font-size: $font-size-small;
        color: $color-gray-500;
        border-bottom: 1px solid $color-gray-500;
        margin: auto 10px auto 0;
        padding: 0 0 5px;

        &:first-child {
            color: $color-darkgray-200;
            border-bottom: 1px solid $color-darkgray-200;
        }
    }

    &__content {
        font-size: 10px;
        color: $color-darkgray-200;
    }
}
