{% block sw_cms_block %}
    <div
        class="sw-cms-block"
        :class="customBlockClass"
    >
        {% block sw_cms_block_actions %}
            <div class="sw-cms-block__actions">
                <div
                    class="sw-cms-block__settings-action"
                    @click="toggleBlockConfigModal"
                >
                    <sw-icon
                        name="default-action-settings"
                        size="16"
                    />
                </div>
            </div>
        {% endblock %}

        {# Block config modal #}
        {% block sw_cms_block_config_modal %}
            <sw-cms-block-config-modal
                v-if="showBlockSettings"
                :block="block"
                @toggleBlockConfigModal="toggleBlockConfigModal"
            />
        {% endblock %}

        {# Block content #}
        {% block sw_cms_block_content %}
            <div
                class="sw-cms-block__content"
                :style="[blockSpacing, blockStyles]"
            >
                <slot>{% block sw_cms_block_slot_default %}{% endblock %}</slot>
            </div>
        {% endblock %}

        {# Block overlay #}
        {% block sw_cms_block_overlay %}
            <div
                v-if="!disabled"
                class="sw-cms-block__config-overlay"
                :class="overlayClasses"
                @click="onBlockOverlayClick"
            ></div>
        {% endblock %}
    </div>
{% endblock %}
