@import "~scss/variables";

$color-gray-alpha: rgba(0, 0, 0, 0.404);

.sw-cms-block {
    &:hover {
        .sw-cms-block__actions {
            display: grid;
        }
    }

    &__actions {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        grid-template-columns: 1fr;
        background-color: $color-shopware-brand-500;
        border: 1px solid $color-shopware-brand-500;
        border-bottom-right-radius: 8px;
        z-index: 251;
    }

    &__settings-action,
    &__remove-action {
        padding: 10px;
        line-height: 16px;
        color: $color-white;
        cursor: pointer;

        &:hover {
            background-color: $color-shopware-brand-800;
        }
    }

    &__config-modal {
        .sw-label {
            height: auto;
            padding: 0;
            background: transparent;
            border: 0;

            .sw-icon {
                margin-left: 4px;
                vertical-align: text-top;
            }
        }

        .sw-field.sw-block-field {
            margin-bottom: 16px;
        }

        .sw-field--checkbox {
            margin-top: -8px;
        }
    }

    &__margin-label,
    &__padding-label,
    &__border-radius-label {
        margin-bottom: 10px;

        .sw-icon {
            margin-left: 4px;
            vertical-align: bottom;
        }
    }

    &__margin-row,
    &__padding-row,
    &__border-radius-row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        margin-bottom: 12px;
        text-align: center;
        
        .sw-field.sw-block-field {
            margin-bottom: 4px;
        }

        .sw-label {
            text-align: center;
        }
    }

    &__column-width {
        .sw-field {
            &--radio {
                margin-bottom: 16px;

                &.is--disabled {
                    label {
                        background: $color-gray-900;
                        border-right-color: $color-darkgray-600;
                        cursor: default;
                    }

                    .sw-field__radio-option-checked {
                        &~ .sw-field__radio-option {
                            label {
                                background: $color-darkgray-600;
                                border-right-color: $color-gray-900;
                            }
                        }
                    }
                }
            }

            &__radio-group {
                display: flex;
            }

            &__radio-option {
                flex: 1;
                display: block;
                margin: 0;
    
                &:first-child {
                    label {
                        border-top-left-radius: 20px;
                        border-bottom-left-radius: 20px;
                    }
                }
    
                &:last-child {
                    label {
                        border-top-right-radius: 20px;
                        border-bottom-right-radius: 20px;
                    }
                }
            }

            &__radio-option-checked {
                &~ .sw-field__radio-option {
                    label {
                        background: $color-shopware-brand-800;
                        border-right: 1px solid $color-shopware-brand-500;
                    }
                }
            }

            &__radio-input {
                display: none;
            }
        }

        label {
            position: relative;
            display: block;
            width: 100%;
            height: 16px;
            background: $color-shopware-brand-500;
            border-right: 1px solid $color-shopware-brand-800;
            cursor: pointer;

            &:hover {
                span {
                    display: block;
                }
            }

            span {
                position: absolute;
                bottom: 105%;
                left: 50%;
                transform: translateX(-50%);
                display: none;
                padding: 2px 4px;
                background-color: $color-gray-alpha;
                color: $color-white;
                text-align: center;
                word-break: keep-all;
            }
        }
    }
}
