{% block sw_cms_element_tabs_preview %}
    <div class="sw-cms-el-preview-tabs">
        <div class="sw-cms-el-preview-tabs__tabs">
            <h6 class="sw-cms-el-preview-tabs__tab-link">
                Tab 1
            </h6>

            <h6 class="sw-cms-el-preview-tabs__tab-link">
                Tab 2
            </h6>
        </div>

        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
    </div>
{% endblock %}

